body {
    background-color: hsl(16, 33%, 84%);
}
ul {
    list-style-type: none ;
    
}
a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-family: monospace;
}
a:hover{
    color: brown;
    font-size: 30px;
    
}
